include ../nav.pug
header.page-header.page-header_other-page
	.wrapper-page-image(data-aos="" data-aos-delay="300")
		.wrapper.wrapper__header-bg
			img.header-img.header-img_trading(src=baseDir + "assets/images/about.svg" alt="trading")
	.wrapper.wrapper-header.wrapper-header_other-page
		.text-header-wrapper.text-header-wrapper_tranding
			h1.page-header__title.h1-title !{tradingHeaderText.title[lang]}
			p.page-header__text !{tradingHeaderText.text[lang]}
			a(href=linkSignup).btn.btn-start-trade !{buttonText.btnStartTrade[lang]}
