section.section.section-platform.section-with-decor.section-with-decor_bottom-left
	.wrapper.wrapper_platform
		h2.left.h2-title.h2-title_platform !{aboutPlatformText.title[lang]}
		.platform-flex-wrapper
			.platform-row.platform-row_1
				p.prev-text-platform !{aboutPlatformText.text[lang]}
				a(href=linkSignup).btn.btn-2.btn-platform: span !{buttonText.btnStartTrade[lang]}
			.platform-row.platform-row_2
				.platform-list-row
					.platform-list__item(data-aos="fade-in" data-aos-delay="300") !{aboutPlatformText.advantage1[lang]}
					.platform-list__item(data-aos="fade-in" data-aos-delay="450") !{aboutPlatformText.advantage2[lang]}
					.platform-list__item(data-aos="fade-in" data-aos-delay="600") !{aboutPlatformText.advantage3[lang]}
					.platform-list__item(data-aos="fade-in" data-aos-delay="750") !{aboutPlatformText.advantage4[lang]}
				.platform-list-row
					.platform-list__item(data-aos="fade-in" data-aos-delay="300") !{aboutPlatformText.advantage5[lang]}
					.platform-list__item(data-aos="fade-in" data-aos-delay="450") !{aboutPlatformText.advantage6[lang]}
					.platform-list__item(data-aos="fade-in" data-aos-delay="600") !{aboutPlatformText.advantage7[lang]}

