section.section.section-history
	.history-decor.animate-svg(data-aos="" data-aos-delay="300")
		| <svg width="405" height="392" viewBox="0 0 405 392" fill="none" xmlns="http://www.w3.org/2000/svg">
		| <path class="an-d-035" d="M227.191 201.316H284.508C294.026 201.316 301.742 208.838 301.742 218.116V273.99C301.742 283.268 294.026 290.79 284.508 290.79H227.191C217.673 290.79 209.957 283.268 209.957 273.99V218.116C209.957 208.838 217.673 201.316 227.191 201.316Z" fill="#F2F4F7"/>
		| <path class="an-d-040" d="M227.191 0H284.508C294.026 0 301.742 7.52162 301.742 16.8V72.6732C301.742 81.9515 294.026 89.4732 284.508 89.4732H227.191C217.673 89.4732 209.957 81.9515 209.957 72.6732V16.8C209.957 7.52162 217.673 0 227.191 0Z" fill="#F2F4F7"/>
		| <path class="an-d-045" d="M20.6758 201.316H77.9925C87.5106 201.316 95.2266 208.838 95.2266 218.116V273.99C95.2266 283.268 87.5106 290.79 77.9925 290.79H20.6758C11.1577 290.79 3.4418 283.268 3.4418 273.99V218.116C3.4418 208.838 11.1577 201.316 20.6758 201.316Z" fill="#F2F4F7"/>
		| <path class="an-d-050" d="M152.592 301.973H152.592C177.938 301.973 198.484 322.002 198.484 346.709V346.709C198.484 371.417 177.938 391.446 152.592 391.446H152.592C127.246 391.446 106.7 371.417 106.7 346.709V346.709C106.7 322.002 127.246 301.973 152.592 301.973Z" fill="#F2F4F7"/>
		| <path class="an-d-055" d="M-2.9987e-05 190.132C-2.9987e-05 140.718 41.0946 100.659 91.7856 100.659V173.332C91.7856 182.611 84.0677 190.132 74.5516 190.132H-2.9987e-05Z" fill="#FAC035"/>
		| <path class="an-d-060" d="M152.592 0H152.592C177.938 0 198.484 20.0292 198.484 44.7364V44.7367C198.484 69.444 177.938 89.4732 152.592 89.4732H152.592C127.246 89.4732 106.7 69.444 106.7 44.7367V44.7364C106.7 20.0292 127.246 0 152.592 0Z" fill="#F2F4F7"/>
		| <path class="an-d-065" d="M330.449 301.973H387.766C397.284 301.973 405 309.494 405 318.773V374.646C405 383.924 397.284 391.446 387.766 391.446H330.449C320.931 391.446 313.215 383.924 313.215 374.646V318.773C313.215 309.494 320.931 301.973 330.449 301.973Z" fill="#F2F4F7"/>
		| <path class="an-d-070" d="M193.895 145.396C193.895 170.103 173.348 190.132 148.003 190.132C122.657 190.132 102.112 170.103 102.112 145.396V100.659H148.003C173.348 100.659 193.895 120.688 193.895 145.396Z" fill="#6CC8C5"/>
		| </svg>
	.wrapper.wrapper-history
		h2.h2-title.h2-title_history !{aboutHistoryText.h2[lang]}
		.history-wrapper
			.history-list-item-wrapper
				.history-list__item.history-list__item_1
					.year.year_1 2019
					h3.h3-title.history-list__title !{aboutHistoryText.year1.title[lang]}
					p.history-list__text !{aboutHistoryText.year1.text[lang]}
			.history-list-item-wrapper
				.history-list__item.history-list__item_2
					.year.year_2 2020
					h3.h3-title.history-list__title !{aboutHistoryText.year2.title[lang]}
					p.history-list__text !{aboutHistoryText.year2.text[lang]}
			.history-list-item-wrapper
				.history-list__item.history-list__item_3
					.year.year_3 2021
					h3.h3-title.history-list__title !{aboutHistoryText.year3.title[lang]}
					p.history-list__text !{aboutHistoryText.year3.text[lang]}
			.history-list-item-wrapper
				.history-list__item.history-list__item_4
					.year.year_4 2022
					h3.h3-title.history-list__title !{aboutHistoryText.year4.title[lang]}
					p.history-list__text !{aboutHistoryText.year4.text[lang]}
		.arrow-slider-wrapper.arrow-slider-wrapper_grey.arrow-slider-wrapper_history
			.number-slide-wrapper
				.current-slide.number-slider
				.number-of-slides.number-slider
		.dots-wrapper.dots-wrapper_history-header
