section.section.section-conditions.section-with-decor.section-with-decor_top-right
	.wrapper.wrapper-conditions
		.conditions-wrapper_row.conditions-wrapper_row-1
			h2.left.h2-title.h2-title_conditions !{aboutConditionsText.title[lang]}
			p.conditions__text !{aboutConditionsText.text[lang]}
			a(href=linkSignup).btn-2.btn.btn_conditions: span !{buttonText.btnOpenAcc[lang]}
		.conditions-wrapper_row.conditions-wrapper_row-2
			img(src=baseDir + "assets/images/conditions.png" alt="conditions" data-aos="zoom-in" data-aos-delay="300")
