mixin marketHeader(title, text, className)
	include ../blocks/nav.pug
	header.page-header.page-header_other-page.page-header_small(class="page-header_" + className)
		.wrapper-page-image(data-aos="" data-aos-delay="300")
			.wrapper.wrapper__header-bg
				img.header-img.header-img_markets(src=baseDir + "assets/images/markets-img-header.svg" alt="markets")
		.wrapper.wrapper-header.wrapper-header_other-page
			.text-header-wrapper.text-header-wrapper_other-page(class="text-header-wrapper_markets-" + className)
				h1.page-header__title.h1-title !{title}
				p.page-header__text !{text}
				a(href=linkSignup).btn.btn-start-trade !{buttonText.btnStartTrade[lang]}
