section.section.section-benefits
	.benefits-decor.animate-svg(data-aos="" data-aos-delay="300")
		| <svg width="400" height="393" viewBox="0 0 400 393" fill="none" xmlns="http://www.w3.org/2000/svg">
		| <path class="an-d-035" d="M224.214 190.886H280.833C290.214 190.886 297.819 183.345 297.819 174.043V117.9C297.819 108.598 290.214 101.058 280.833 101.058L224.214 101.058C214.833 101.058 207.228 108.598 207.228 117.9V174.043C207.228 183.345 214.833 190.886 224.214 190.886Z" fill="#F2F4F7"/>
		| <path class="an-d-040" d="M20.3827 190.886H77.0024C86.3834 190.886 93.9883 183.345 93.9883 174.043L93.9883 117.9C93.9883 108.598 86.3834 101.058 77.0024 101.058L20.3827 101.058C11.0016 101.058 3.39676 108.598 3.39676 117.9L3.39676 174.043C3.39676 183.345 11.0016 190.886 20.3827 190.886Z" fill="#F2F4F7"/>
		| <path class="an-d-045" d="M105.313 44.9143C105.313 69.7198 125.592 89.8286 150.609 89.8286C175.625 89.8286 195.904 69.7198 195.904 44.9143C195.904 20.1088 175.625 3.8147e-05 150.609 3.8147e-05C125.592 3.8147e-05 105.313 20.1088 105.313 44.9143Z" fill="#F2F4F7"/>
		| <path class="an-d-050" d="M297.82 0.000488281C247.787 0.000488281 207.228 40.2181 207.228 89.8291H280.834C290.216 89.8291 297.82 82.2882 297.82 72.9862V0.000488281Z" fill="#FAC035"/>
		| <path class="an-d-055" d="M0 202.115C2.18694e-06 251.726 40.5591 291.943 90.5917 291.943V218.958C90.5917 209.656 82.9868 202.115 73.6057 202.115H0Z" fill="#6CC8C5"/>
		| <path class="an-d-060" d="M105.313 348.086C105.313 372.892 125.592 393 150.609 393C175.625 393 195.904 372.892 195.904 348.086C195.904 323.281 175.625 303.172 150.609 303.172C125.592 303.172 105.313 323.281 105.313 348.086Z" fill="#F2F4F7"/>
		| <path class="an-d-065" d="M326.13 393H382.749C392.13 393 399.735 385.46 399.735 376.158V320.015C399.735 310.713 392.13 303.172 382.749 303.172H326.13C316.749 303.172 309.144 310.713 309.144 320.015V376.158C309.144 385.46 316.749 393 326.13 393Z" fill="#F2F4F7"/>
		| <path class="an-d-070" d="M191.374 247.029C191.374 222.223 171.095 202.115 146.078 202.115C121.062 202.115 100.783 222.223 100.783 247.029V291.943H146.078C171.095 291.943 191.374 271.835 191.374 247.029Z" fill="#F07881"/>
		| </svg>
	.wrapper.wrapper-benefits
		h2.h2-title.h2-title_benefits !{indexBenefitsText.h2[lang]}
		.benefits-list
			.benefits-list-item.benefits-list-item_1(data-aos="zoom-in" data-aos-delay="300")
				.benefits-icon.benefits-icon_1
				h3.benefits-list__title.h3-title !{indexBenefitsText.benefit1.title[lang]}
				p.benefits-list__text !{indexBenefitsText.benefit1.text[lang]}
			.benefits-list-item.benefits-list-item_2(data-aos="zoom-in" data-aos-delay="450")
				.benefits-icon.benefits-icon_2
				h3.benefits-list__title.h3-title !{indexBenefitsText.benefit2.title[lang]}
				p.benefits-list__text !{indexBenefitsText.benefit2.text[lang]}
			.benefits-list-item.benefits-list-item_3(data-aos="zoom-in" data-aos-delay="300")
				.benefits-icon.benefits-icon_3
				h3.benefits-list__title.h3-title !{indexBenefitsText.benefit3.title[lang]}
				p.benefits-list__text !{indexBenefitsText.benefit3.text[lang]}
			.benefits-list-item.benefits-list-item_4(data-aos="zoom-in" data-aos-delay="450")
				.benefits-icon.benefits-icon_4
				h3.benefits-list__title.h3-title !{indexBenefitsText.benefit4.title[lang]}
				p.benefits-list__text !{indexBenefitsText.benefit4.text[lang]}
