include ../nav.pug
header.page-header.page-header_other-page.page-header_small
	.wrapper-page-image(data-aos="" data-aos-delay="300")
		.wrapper.wrapper__header-bg
			img.header-img.header-img_licenses(src=baseDir + "assets/images/markets-img-header.svg" alt="licenses")
	.wrapper.wrapper-header.wrapper-header_other-page
		.text-header-wrapper.text-header-wrapper_history
			h1.page-header__title.h1-title !{licensesHeaderText.title[lang]}
			p.page-header__text !{licensesHeaderText.text[lang]}
			a(href=linkSignup).btn !{buttonText.btnStartTrade[lang]}
