section.section.section-licenses.section-with-decor.section-with-decor_top-right.section-with-decor_bottom-left
	.wrapper.wrapper_licenses
		.licenses-list
			.licenses-list-item-wrapper
				.licenses-list__item
					.licenses-icon.licenses-icon_1
					h3.center.h3-title.licenses-list__title !{licensesListText.license1.title[lang]}
					p.center.licenses-list__text !{licensesListText.license1.text[lang]}
			.licenses-list-item-wrapper
				.licenses-list__item
					.licenses-icon.licenses-icon_2
					h3.center.h3-title.licenses-list__title !{licensesListText.license2.title[lang]}
					p.center.licenses-list__text !{licensesListText.license2.text[lang]}
			.licenses-list-item-wrapper
				.licenses-list__item
					.licenses-icon.licenses-icon_3
					h3.center.h3-title.licenses-list__title !{licensesListText.license3.title[lang]}
					p.center.licenses-list__text !{licensesListText.license3.text[lang]}
			.licenses-list-item-wrapper
				.licenses-list__item
					.licenses-icon.licenses-icon_4
					h3.center.h3-title.licenses-list__title !{licensesListText.license4.title[lang]}
					p.center.licenses-list__text !{licensesListText.license4.text[lang]}
			.licenses-list-item-wrapper
				.licenses-list__item
					.licenses-icon.licenses-icon_5
					h3.center.h3-title.licenses-list__title !{licensesListText.license5.title[lang]}
					p.center.licenses-list__text !{licensesListText.license5.text[lang]}
			.licenses-list-item-wrapper
				.licenses-list__item
					.licenses-icon.licenses-icon_6
					h3.center.h3-title.licenses-list__title !{licensesListText.license6.title[lang]}
					p.center.licenses-list__text !{licensesListText.license6.text[lang]}
			.licenses-list-item-wrapper
				.licenses-list__item
					.licenses-icon.licenses-icon_7
					h3.center.h3-title.licenses-list__title !{licensesListText.license7.title[lang]}
					p.center.licenses-list__text !{licensesListText.license7.text[lang]}
			.licenses-list-item-wrapper
				.licenses-list__item
					.licenses-icon.licenses-icon_8
					h3.center.h3-title.licenses-list__title !{licensesListText.license8.title[lang]}
					p.center.licenses-list__text !{licensesListText.license8.text[lang]}
		.arrow-slider-wrapper.arrow-slider-wrapper_grey.arrow-slider-wrapper_licenses
			.number-slide-wrapper
				.current-slide.number-slider
				.number-of-slides.number-slider
		.dots-wrapper.dots-wrapper_licenses-header
